
.header{
    background-color: green;  
     height:50px; 
     padding-top: 5px;
     padding-left: 48.5%;

}


body{

}

.ourbody{
   border-style: solid  ;
   display: flex;

   justify-content: space-between;
}

.lefter{
    display: flex;
    background-color: red;  
     align-items: center;


}
.righter{
    display: flex;
    background-color: blue;  
     align-items: center;



}
.middle{

    display: flex;
    background-color: yellow;  
    justify-content: center;

    height: 200px;width: 1000px;
     align-items: center;

}

.bugg{
  display: block;
    background-color: black;  
     padding-left: 50%;
     padding-top: 5px;
}